Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix --max-warnings 0

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

Fix add-slash redirects when there are interior slashes in the path
  lektor/admin/modules/serve.py
  tests/test_serve.py
Due: none

Support pydantic < 1.5
  lektor/admin/modules/api.py
Due: none

Move admin server tests to their own subdirectory
  tests/admin/test_api.py
  tests/admin/test_dash.py
  tests/admin/test_serve.py
  tests/admin/test_webui.py
  tests/conftest.py
  tests/test_assets.py
  tests/test_prev_next_sibling.py
  tests/test_themes.py
  tests/test_tree.py
  tests/test_unicode.py
Due: none

Update CHANGES
  CHANGES.md
Due: prettier

Work on migrating from pytest tmpdir to tmp_path fixtures
  tests/admin/test_api.py
  tests/admin/test_serve.py
  tests/conftest.py
  tests/test_db.py
  tests/test_issue_410.py
  tests/test_pluginsystem.py
  tests/test_tree.py
Due: none

The asseturl filter should register a build dependency on the asset
  CHANGES.md
  lektor/context.py
  tests/test_builder.py
Due: prettier

Add go/no-go tests that check that various sites are buildable
  tests/conftest.py
  tests/test_build_sites.py
Due: none

cmd-line items must be strs for subprocess.run on windows
  tests/test_build_sites.py
Due: none

Run slow test in CI
  .github/workflows/ci.yml
  tox.ini
Due: prettier

Only install ffmpeg on linux runner for py3.10
  .github/workflows/ci.yml
Due: prettier

Fix Lektor installation of extension modules required by plugins.
  tox.ini
Due: none

Install ffmpeg when running python tests on Linux
  .github/workflows/ci.yml
Due: prettier

Skip tests when required programs (e.g. imagemagick) are unavailable
  tests/test_build_sites.py
Due: none

CI: run apt-get update before apt-get install
  .github/workflows/ci.yml
Due: prettier

Refactor markdown.py
  lektor/markdown.py
  setup.cfg
  tests/test_markdown.py
  tests/test_types.py
Due: none

Add resolve and strict_resolve parameters to SourceObject.url_to
  lektor/context.py
  lektor/sourceobj.py
  tests/test_urls.py
Due: none

Clean up SourceObject.url_to and implement "lektor:" URL scheme
  lektor/context.py
  lektor/db.py
  lektor/sourceobj.py
  tests/test_urls.py
Due: none

Make field options available to Markdown Renderers
  lektor/markdown.py
  lektor/types/formats.py
  tests/test_markdown.py
Due: none

Resolve links in markdown to Lektor source objects when possible.
  lektor/markdown.py
  tests/test_builder.py
  tests/test_markdown.py
Due: none

Fix Attachment.iter_source_filenames
  lektor/db.py
  tests/test_builder.py
Due: none

Fix so that attachment files aren't recorded as dependencies if we only care about their URL.
  lektor/context.py
  lektor/db.py
  lektor/sourceobj.py
  tests/test_builder.py
Due: none

Convert lektor.markdown to a package
  lektor/markdown/__init__.py
Due: none

Add support for resolve_links markdown field option
  lektor/markdown.py
  lektor/types/formats.py
  tests/test_markdown.py
  tests/test_types.py
Due: none

Support mistune 2.x
  lektor/markdown/__init__.py
  lektor/markdown/controller.py
  lektor/markdown/mistune0.py
  lektor/markdown/mistune2.py
  pyproject.toml
  setup.cfg
  tests/test_imports.py
  tests/test_markdown.py
  tests/test_types.py
Due: none

Remove the lektor: URL scheme bits
  lektor/sourceobj.py
  tests/test_urls.py
Due: none

Test with both mistune 0.x and mistune 2.x
  .github/workflows/ci.yml
  tox.ini
Due: prettier

admin: use esbuild as a bundler for the frontend
  Makefile
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scss/bootstrap-overrides.scss
  frontend/scss/fonts.scss
  frontend/scss/main.scss
  frontend/tsconfig.json
  lektor/admin/templates/base.html
Due: eslint, prettier

admin: render in React.StrictMode in dev
  frontend/js/main.tsx
Due: eslint, prettier

fix lektor dev mode
  lektor/devserver.py
Due: none

admin: only minify syntax in prod build
  frontend/build.ts
Due: eslint, prettier

admin: remove now unused webpack and plugins
  frontend/babel-require.js
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Due: prettier

admin: fix AdminLinkWithHotkey component
  frontend/js/components/AdminLink.tsx
  frontend/js/components/AdminLinkWithHotkey.tsx
Due: eslint, prettier

admin: npm update
  frontend/package-lock.json
Due: none

lint: update pylint
  lektor/publisher.py
  tests/test_buildfailures.py
  tests/test_editor.py
  tox.ini
Due: none

allow absolute urls in `asseturl`
  lektor/context.py
Due: none

use **kwargs instead
  lektor/context.py
Due: none

Add tests for `lektor project-info boolean options`.
  tests/test_cli.py
Due: none

Fix for click 8.1.3.
  lektor/cli.py
Due: none

Backport #1033 to the 3.3 branch: fix for click 8.1.3
  CHANGES.md
  lektor/cli.py
  tests/test_cli.py
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
