Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    # NB: Using any black past 23.12.1 results in conflict between
    # black and reorder-python-imports.
    # See https://github.com/psf/black/issues/4175
    rev: "23.12.1"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v3.16.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8
        language_version: python3
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different
        files: \.(ts|tsx|js|less|ya?ml|md)$

fix(pre-commit): fix node tests
  .pre-commit-config.yaml
Due: prettier

fix(ci): fix nits reported by actionlint
  .github/workflows/ci-cd.yml
Due: prettier

cleanup: tox on Windows no long appears to require UnicodeDecodeError workaround
  .github/workflows/ci.yml
Due: prettier

cleanup: tox on Windows no longer requires UnicodeDecodeError workaround
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): address nits surfaced by actionlint
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

chore(ci): update action version (using gha-update)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

fix: sanitize backslashes in input in lektor.utils.cleanup_path
  lektor/utils.py
Due: none

tests: add tests for windows path-traversal vuln
  tests/admin/test_api.py
  tests/test_editor.py
  tests/test_utils.py
Due: none

fix: disallow backslashes in id in lektor.utils.is_valid_id
  lektor/utils.py
Due: none

refactor: cleanup path validation logic in make_editor_session
  lektor/editor.py
Due: none

docs: update CHANGES
  CHANGES.md
Due: prettier

Fix Directory Traversal Vulnerability (#1288)
  CHANGES.md
  lektor/editor.py
  lektor/utils.py
  tests/admin/test_api.py
  tests/test_editor.py
  tests/test_utils.py
Due: prettier

Release 3.4.0b15
  CHANGES.md
Due: prettier

Fix Directory Traversal (backport of #1288)
  CHANGES.md
  lektor/editor.py
  lektor/project.py
  lektor/utils.py
  tests/test_api.py
  tests/test_editor.py
  tests/test_utils.py
Due: prettier

Release 3.3.14
  CHANGES.md
Due: prettier

docs: reference PR in changelog
  CHANGES.md
Due: prettier

test: check that [project]path can point outside parent directory
  tests/test_project.py
Due: none

fix!: allow project tree outside of directory containing project file
  lektor/project.py
Due: none

chore: npm update --min-release-age 7
  frontend/package-lock.json
Due: none

style: changes by prettier@3.9.6
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES.md
  frontend/tooldrawer/livereload-worker.ts
Due: eslint, prettier

fix(atomic_open): fsync to ensure data flushed to disc
  lektor/utils.py
  tests/test_utils.py
Due: none

Fix HTML escaping in project quickstart templates
  lektor/quickstart-templates/project/templates/layout.html.in
  tests/test_quickstart.py
Due: none

Keep the hemisphere when degrees truncate to zero.
  CHANGES.md
  lektor/utils.py
  tests/test_utils.py
Due: prettier

Keep the hemisphere when degrees truncate to zero (backport #1294)
  CHANGES.md
  lektor/utils.py
  tests/test_utils.py
Due: prettier

fix(tests): disuse of private attribute tzinfo._offset
  tests/test_types.py
Due: none
