Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: "22.12.0"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v3.9.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
        language_version: python3
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        require_serial: true
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different
        require_serial: true
        files: \.(ts|tsx|js|less|ya?ml|md)$

Add Turkish translation (#1157)
  frontend/js/i18n.tsx
  lektor/translations/tr.json
Due: eslint, prettier

fix(packages): use symlinks when creating virtual environments
  lektor/packages.py
  tests/test_packages.py
Due: none

style: follow suggestions surfaced by latest pylint (2.17.5)
  lektor/admin/modules/api.py
  lektor/datamodel.py
  lektor/imagetools.py
  lektor/utils.py
  tox.ini
Due: none

chore: run pre-commit autoupgrade, then pre-commit run -a
  .pre-commit-config.yaml
  lektor/admin/modules/api.py
  lektor/cli_utils.py
  lektor/environment/__init__.py
  tests/test_db.py
  tests/test_pluginsystem.py
  tests/test_themes.py
  tests/test_utils.py
Due: prettier

style: run flake8-bugbear in pre-commit
  .pre-commit-config.yaml
Due: prettier

style: fix (or ignore) style warnings surfaced by flake8-bugbear
  lektor/builder.py
  lektor/databags.py
  lektor/db.py
  lektor/editor.py
  lektor/environment/__init__.py
  lektor/filecontents.py
  lektor/pluginsystem.py
  lektor/publisher.py
  lektor/utils.py
  tests/test_buildfailures.py
  tests/test_pluginsystem.py
  tests/test_publisher.py
  tests/test_watcher.py
Due: none

fix(packages): use symlinks when creating virtual environments (#1161)
  lektor/packages.py
  tests/test_packages.py
Due: none

fix(test_VirtualEnv_executable): python is not always named python
  tests/test_packages.py
Due: none

fix(test): fix the tox `lint` environment
  tox.ini
Due: none

feat(esbuild): increase verbosity when running esbuild in watch mode
  frontend/build.ts
Due: eslint, prettier

test: test under python 3.12
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: prettier

npm update
  frontend/package-lock.json
Due: none

update esbuild
  frontend/package-lock.json
  frontend/package.json
Due: none

test: switch to new React 18 APIs and use act()
  frontend/js/components/ToggleGroup.test.tsx
Due: eslint, prettier

fix: remove werkzeug<3 pin
  pyproject.toml
Due: none

python 3.12 is now released
  .github/workflows/ci.yml
Due: prettier

fix: use shell=True rather than shutil.which to find npm binary
  build_frontend.py
  tests/test_build_frontend.py
Due: none

Test under python 3.12 (#1167)
  .github/workflows/ci.yml
  build_frontend.py
  pyproject.toml
  tests/test_build_frontend.py
  tox.ini
Due: prettier

chore: no longer require importlib_metadata
  lektor/cli.py
  lektor/compat.py
  lektor/markdown/__init__.py
  lektor/pluginsystem.py
  pyproject.toml
  tests/test_conftest.py
  tests/test_pluginsystem.py
Due: none

compat: provide disused bits of lektor.compat
  lektor/compat.py
  tests/test_compat.py
Due: none

chore: remove the now unused lektor.compat.FixedTemporaryDirectory
  lektor/compat.py
  lektor/publisher.py
  tests/test_compat.py
Due: none

test: test under Pillow version 6.2.x rather than 6.0
  tox.ini
Due: none

chore: typing.TypedDict is now always available
  lektor/markdown/mistune2.py
Due: none

test: drop support for python 3.7
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: prettier

Drop support for python 3.7 (#1173)
  .github/workflows/ci.yml
  lektor/cli.py
  lektor/compat.py
  lektor/markdown/__init__.py
  lektor/markdown/mistune2.py
  lektor/pluginsystem.py
  lektor/publisher.py
  pyproject.toml
  tests/test_compat.py
  tests/test_conftest.py
  tests/test_pluginsystem.py
  tox.ini
Due: prettier

chore: run pyupgrade --py38-plus
  .pre-commit-config.yaml
  lektor/admin/modules/api.py
  lektor/admin/modules/serve.py
  lektor/admin/webui.py
  lektor/assets.py
  lektor/builder.py
  lektor/buildfailures.py
  lektor/cli.py
  lektor/databags.py
  lektor/datamodel.py
  lektor/db.py
  lektor/devcli.py
  lektor/editor.py
  lektor/environment/__init__.py
  lektor/environment/config.py
  lektor/exception.py
  lektor/filecontents.py
  lektor/i18n.py
  lektor/imagetools.py
  lektor/markdown/mistune2.py
  lektor/metaformat.py
  lektor/packages.py
  lektor/pluginsystem.py
  lektor/publisher.py
  lektor/quickstart.py
  lektor/reporter.py
  lektor/sourceobj.py
  lektor/types/base.py
  lektor/types/flow.py
  lektor/videotools.py
  tests/admin/test_serve.py
  tests/test_assets.py
  tests/test_datamodel.py
  tests/test_db.py
  tests/test_devcli.py
  tests/test_editor.py
  tests/test_environment.py
  tests/test_prev_next_sibling.py
  tests/test_utils.py
Due: prettier

style: add pyupgrade to pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

style: manually convert some str.format() calls to f-strings
  lektor/assets.py
  lektor/builder.py
  lektor/datamodel.py
  lektor/types/flow.py
Due: none

fix: remove werkzeug<3 pin (#1172)
  pyproject.toml
Due: none

fix: support Pillow<7
  lektor/imagetools.py
Due: none
