Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

MultiLineTextInputWidget: use hooks; remove scroll-adjustment
  lektor/admin/static/js/widgets/MultiLineTextInputWidget.tsx
Due: eslint, prettier

remove now unused history attr from RecordProps
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/views/App.tsx
Due: eslint, prettier

unify creation of admin URLs
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/use-go-to-admin-page.ts
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
  lektor/admin/static/js/views/edit/EditPageActions.tsx
Due: eslint, prettier

add AdminLink component for easier creation of admin links
  lektor/admin/static/js/components/AdminLink.tsx
  lektor/admin/static/js/components/Link.tsx
  lektor/admin/static/js/components/LinkWithHotkey.tsx
  lektor/admin/static/js/components/use-go-to-admin-page.ts
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
Due: eslint, prettier

devserver: use daemon property instead of deprecated setDaemon
  lektor/devserver.py
Due: none

devserver: use ternary and remove unused code
  lektor/devserver.py
Due: none

cleanup utils a bit
  lektor/admin/static/js/utils.test.ts
  lektor/admin/static/js/utils.ts
  lektor/admin/static/js/views/PreviewPage.tsx
Due: eslint, prettier

fully type the fetch API helpers
  .pre-commit-config.yaml
  lektor/admin/.eslintrc.js
  lektor/admin/static/js/components/ErrorDialog.tsx
  lektor/admin/static/js/components/RecordComponent.test.ts
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/ServerStatus.tsx
  lektor/admin/static/js/dialogs/Publish.tsx
  lektor/admin/static/js/dialogs/Refresh.tsx
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/dialogs/find-files/ResultRow.tsx
  lektor/admin/static/js/error-dialog.ts
  lektor/admin/static/js/events.ts
  lektor/admin/static/js/fetch.ts
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/utils.ts
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
Due: eslint, prettier

simplify ToggleGroup
  lektor/admin/static/js/components/ToggleGroup.test.tsx
  lektor/admin/static/js/components/ToggleGroup.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
Due: eslint, prettier

remove event-source polyfill
  lektor/admin/package-lock.json
  lektor/admin/package.json
  lektor/admin/static/js/main.tsx
Due: eslint, prettier

use adminPath in main.tsx
  lektor/admin/static/js/main.tsx
Due: eslint, prettier

Mark test that requires a working internet connection
  pytest.ini
  tests/test_pluginsystem.py
Due: none

Add some other potentially large directories to pytest's norecursedirs
  pytest.ini
Due: none

Move pytest config into pyproject.toml
  pyproject.toml
  pytest.ini
  tox.ini
Due: none

scss: some more cleanup
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/App.tsx
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/main.scss
Due: eslint, prettier

admin: less absolute positioning to allow header to resize
  lektor/admin/static/js/views/App.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/main.scss
  lektor/admin/static/scss/sidebar.scss
Due: eslint, prettier

header: use font-awesome icon for navbar toggle
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/scss/header.scss
Due: eslint, prettier

sidebar: flatten layout and simplify styles
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/main.scss
Due: eslint, prettier

scss: some cleanup
  lektor/admin/static/js/views/App.tsx
  lektor/admin/static/scss/dialog.scss
  lektor/admin/static/scss/main.scss
  lektor/admin/static/scss/static-pages.scss
Due: eslint, prettier

admin: add proper HTML head to enable mobile layout
  lektor/admin/templates/base.html
Due: none

fix sidebar offset on mobile
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/sidebar.scss
Due: none

admin: remove some extra paddings
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/main.scss
  lektor/admin/static/scss/sidebar.scss
Due: none

remove unneeded margin-padding-adjustment
  lektor/admin/static/scss/main.scss
Due: none

scss: remove unused border-radius; remove !important
  lektor/admin/static/scss/forms.scss
  lektor/admin/static/scss/header.scss
  lektor/admin/static/scss/main.scss
  lektor/admin/static/scss/toggle-group.scss
  lektor/admin/static/scss/variables.scss
Due: none

dialogs: remove extra paddings; use links in find dialog
  lektor/admin/static/js/components/ServerStatus.tsx
  lektor/admin/static/js/dialogs/Publish.tsx
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/dialogs/find-files/ResultRow.tsx
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/scss/dialog.scss
  lektor/admin/static/scss/header.scss
Due: eslint, prettier

cleanup form styles
  lektor/admin/static/js/components/SlideDialog.tsx
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/widgets/InputWidgetBase.tsx
  lektor/admin/static/js/widgets/MultiLineTextInputWidget.tsx
  lektor/admin/static/js/widgets/SelectInputWidget.tsx
  lektor/admin/static/js/widgets/fakeWidgets.tsx
  lektor/admin/static/js/widgets/flow/FlowBlock.tsx
  lektor/admin/static/js/widgets/types.ts
  lektor/admin/static/scss/dialog.scss
  lektor/admin/static/scss/forms.scss
  lektor/admin/static/scss/main.scss
  lektor/admin/static/scss/sidebar.scss
  lektor/admin/static/scss/toggle-group.scss
Due: eslint, prettier

scss: flatten styles some more
  lektor/admin/static/scss/main.scss
Due: none

InputWidgetBase: simplify by removing unused classes and args
  lektor/admin/static/js/widgets/DateInputWidget.tsx
  lektor/admin/static/js/widgets/InputWidgetBase.tsx
  lektor/admin/static/js/widgets/SingleLineTextInputWidget.tsx
  lektor/admin/static/js/widgets/SlugInputWidget.tsx
  lektor/admin/static/js/widgets/UrlInputWidget.tsx
Due: eslint, prettier

unify widget class names
  lektor/admin/static/js/widgets/CheckboxesInputWidget.tsx
  lektor/admin/static/js/widgets/InputWidgetBase.tsx
  lektor/admin/static/js/widgets/flow/FlowWidget.tsx
  lektor/admin/static/scss/forms.scss
Due: eslint, prettier

ToggleGroup: remove unnecessary element
  lektor/admin/static/js/components/ToggleGroup.test.tsx
  lektor/admin/static/js/components/ToggleGroup.tsx
  lektor/admin/static/scss/toggle-group.scss
Due: eslint, prettier

Update CHANGES
  CHANGES.md
Due: prettier

Eliminate edit redirector
  lektor/admin/modules/dash.py
  lektor/admin/modules/serve.py
  lektor/admin/utils.py
  lektor/admin/webui.py
  tests/test_webui.py
Due: none

Refactor React route parsing
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/views/App.tsx
Due: eslint, prettier

Refactor admin single-page app URLs
  lektor/admin/modules/common.py
  lektor/admin/modules/dash.py
  lektor/admin/static/js/components/AdminLink.tsx
  lektor/admin/static/js/components/RecordComponent.test.ts
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/use-go-to-admin-page.ts
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/utils.ts
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/utils.py
Due: eslint, prettier

Put db-path into query params of admin UI URLs
  lektor/admin/modules/common.py
  lektor/admin/modules/dash.py
  lektor/admin/modules/serve.py
  lektor/admin/static/js/components/AdminLink.tsx
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/types.ts
  lektor/admin/static/js/components/use-go-to-admin-page.ts
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/dialogs/find-files/ResultRow.tsx
  lektor/admin/static/js/fetch.ts
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/utils.ts
Due: eslint, prettier

changes
  CHANGES.md
Due: prettier

Add mapping methods back to EditorSession for backward-compatibility
  lektor/editor.py
  tests/test_editor.py
Due: none

Use typing.NamedTuple
  lektor/admin/webui.py
Due: none

Start working on getting mypy to run
  lektor/db.py
  lektor/devcli.py
  lektor/environment/__init__.py
  lektor/environment/config.py
  lektor/imagetools.py
  pyproject.toml
  stubs/inifile.pyi
  stubs/mistune.pyi
  stubs/watchdog/__init__.pyi
  stubs/watchdog/events.pyi
  stubs/watchdog/observers/__init__.pyi
  stubs/watchdog/observers/api.pyi
  stubs/watchdog/observers/polling.pyi
  stubs/watchdog/utils/__init__.pyi
  stubs/watchdog/utils/bricks.pyi
  tox.ini
Due: none

Add type annotations to lektor.admin
  lektor/admin/modules/__init__.py
  lektor/admin/modules/api.py
  lektor/admin/modules/common.py
  lektor/admin/modules/dash.py
  lektor/admin/modules/serve.py
  lektor/admin/utils.py
  lektor/admin/webui.py
  lektor/db.py
  lektor/publisher.py
  lektor/typing.py
  tox.ini
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
