Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

npm dedup
  lektor/admin/package-lock.json
  lektor/admin/package.json
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

npm update
  lektor/admin/package-lock.json
  lektor/admin/package.json
Due: none

bump less-loader
  lektor/admin/package-lock.json
  lektor/admin/package.json
  lektor/admin/static/less/bootstrap-overrides.less
  lektor/admin/static/webpack.config.js
Due: prettier

bind more methods in constructor
  lektor/admin/static/js/components/Sidebar.tsx
  lektor/admin/static/js/components/ToggleGroup.tsx
  lektor/admin/static/js/dialogs/Refresh.tsx
  lektor/admin/static/js/dialogs/findFiles.tsx
  lektor/admin/static/js/dialogs/publish.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/EditPage.tsx
  lektor/admin/static/js/widgets/MultiLineTextInputWidget.tsx
Due: eslint, prettier

simplify events a bit
  lektor/admin/static/js/dialogSystem.tsx
  lektor/admin/static/js/events.ts
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/DeletePage.tsx
Due: eslint, prettier

move Header component to its own file and folder
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/js/views/App.tsx
Due: eslint, prettier

widgets: improve types and add tests for getFieldColumns
  lektor/admin/static/js/widgets.test.ts
  lektor/admin/static/js/widgets.tsx
  lektor/admin/static/js/widgets/FlowWidget.tsx
  lektor/admin/static/js/widgets/types.ts
Due: eslint, prettier

dialog: pass function to dismiss with props
  lektor/admin/static/js/components/DialogSlot.tsx
  lektor/admin/static/js/components/SlideDialog.tsx
  lektor/admin/static/js/dialogSystem.tsx
  lektor/admin/static/js/dialogs/Refresh.tsx
  lektor/admin/static/js/dialogs/errorDialog.tsx
  lektor/admin/static/js/dialogs/findFiles.tsx
  lektor/admin/static/js/dialogs/publish.tsx
  lektor/admin/static/js/richPromise.tsx
Due: eslint, prettier

dialog: remove unused prop
  lektor/admin/static/js/components/SlideDialog.tsx
  lektor/admin/static/js/dialogs/Refresh.tsx
  lektor/admin/static/js/dialogs/errorDialog.tsx
  lektor/admin/static/js/dialogs/findFiles.tsx
  lektor/admin/static/js/dialogs/publish.tsx
Due: eslint, prettier

frontend tests: emit html coverage report
  lektor/admin/package.json
Due: none

flow format: more tests and types
  lektor/admin/static/js/widgets/FlowWidget.test.ts
  lektor/admin/static/js/widgets/FlowWidget.tsx
Due: eslint, prettier

findFiles: some refactors
  lektor/admin/static/js/dialogs/findFiles.tsx
Due: eslint, prettier

better typing for the EditPage
  lektor/admin/static/js/views/EditPage.tsx
  lektor/admin/static/js/widgets.tsx
  lektor/admin/static/js/widgets/FlowWidget.tsx
  lektor/admin/static/js/widgets/types.ts
Due: eslint, prettier

AddChildPage: improve typing
  lektor/admin/static/js/views/AddChildPage.tsx
Due: eslint, prettier

metaformat: add with full coverage; refactor
  lektor/admin/static/js/metaformat.test.ts
  lektor/admin/static/js/metaformat.tsx
Due: eslint, prettier

fix remaining ts errors
  lektor/admin/package-lock.json
  lektor/admin/package.json
  lektor/admin/static/js/components/DialogSlot.tsx
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/Sidebar.tsx
  lektor/admin/static/js/components/ToggleGroup.test.tsx
  lektor/admin/static/js/fetch.ts
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/i18n.tsx
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/DeletePage.tsx
  lektor/admin/static/js/views/EditPage.tsx
  lektor/admin/static/js/widgets.tsx
  lektor/admin/static/js/widgets/FlowWidget.tsx
Due: eslint, prettier

RecordComponent: reduce further
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/Sidebar.tsx
  lektor/admin/static/js/dialogs/findFiles.tsx
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/App.tsx
  lektor/admin/static/js/views/DeletePage.tsx
  lektor/admin/static/js/views/EditPage.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
Due: eslint, prettier

ci: run typescript check and js tests
  .github/workflows/ci.yml
Due: none

ensure all calls to setState are batchable
  lektor/admin/static/js/dialogs/findFiles.tsx
  lektor/admin/static/js/dialogs/publish.tsx
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/views/EditPage.tsx
Due: eslint, prettier

sidebar: simplify by reusing types
  lektor/admin/static/js/components/Sidebar.tsx
Due: eslint, prettier

split sidebar into multiple components
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/views/App.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less)$
