Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    # black >= 24 is incompatible with reorder-python-imports
    # See https://github.com/psf/black/issues/4175
    rev: "23.12.1"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v3.14.0"
    hooks:
      - id: reorder-python-imports
        args: ["--py39-plus"]
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.19.0"
    hooks:
      - id: pyupgrade
        args: ["--py39-plus"]
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1"
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          # NB: autoupdate does not pick up flake8-bugbear since it is a
          # transitive dependency. Make sure to update flake8-bugbear
          # manually on a regular basis.
          - flake8-bugbear==24.10.31

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        require_serial: true
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin/prettier.cjs --write --list-different
        require_serial: true
        files: \.(ts|tsx|js|less|ya?ml|md)$

  - repo: https://github.com/PyCQA/pylint.git
    # rev: v3.3.1
    rev: v3.2.7
    hooks:
      - id: pylint
        additional_dependencies:
          - hatchling # distribution package build backend
          - Babel # runtime
          - click >= 6.0 # runtime
          - Flask # runtime
          - inifile >= 0.4.1 # runtime
          - Jinja2 >= 3.0 # runtime
          - MarkupSafe # runtime
          - marshmallow # runtime
          - marshmallow_dataclass >= 8.5.9 # runtime
          - mistune >=0.7.0, <3 # runtime
          - Pillow >= 6 # runtime
          - pip # runtime
          - python-slugify # runtime
          - requests # runtime
          - typing-extensions >= 3.10; python_version < '3.10' # runtime
          - tzdata; sys_platform == 'win32' # runtime
          - watchfiles >= 0.12 # runtime
          - Werkzeug >= 2.1.0 # runtime
          - ipython # runtime, additional through `ipython` extra
          - traitlets # runtime, additional through `ipython` extra
          - pytest >= 6 # tests
          - pytest-mock # tests
          - importlib_metadata; python_version < "3.10" # tests
          - iniconfig # tests

feat: Support marshmallow 4
  lektor/admin/modules/api.py
Due: none

fix: correct type annotations
  lektor/admin/modules/api.py
Due: none

fix(builder): stop treating @ as virtual by default
  lektor/builder.py
  tests/test_builder.py
Due: none

fix: Fix bug in url generation
  lektor/utils.py
  tests/test_utils.py
Due: none

npm update and bump dev deps jsdom, esbuild, mocha
  frontend/package-lock.json
  frontend/package.json
Due: none

fix case
  tests/demo-project/content/icc-profile-test/LICENSE.txt
  tests/demo-project/content/icc-profile-test/license.txt
Due: none

move licenses into subdirectories with data
  tests/demo-project/content/icc-profile-test/CGATS001Compat-v2-micro/CGATS001Compat-v2-micro.icc
  tests/demo-project/content/icc-profile-test/CGATS001Compat-v2-micro/LICENSE.txt
  tests/demo-project/content/icc-profile-test/README.md
  tests/demo-project/content/icc-profile-test/rgb-to-gbr-test/LICENSE.txt
  tests/demo-project/content/icc-profile-test/rgb-to-gbr-test/rgb-to-gbr-test.jpg
  tests/imagetools/test_thumbnail.py
Due: prettier

update
  .github/workflows/ci-cd.yml
Due: prettier

ci: workaround failing test by marking them xfail
  tests/test_devcli.py
Due: none

ci: test on Python 3.14
  .github/workflows/ci-cd.yml
  tests/test_environment.py
  tox.ini
Due: prettier

npm update
  frontend/build.ts
  frontend/package-lock.json
Due: eslint, prettier

lint
  .pre-commit-config.yaml
  frontend/eslint.config.mjs
  frontend/js/dialogs/find-files/FindFiles.tsx
  frontend/js/header/GlobalActions.tsx
  frontend/js/views/PreviewPage.tsx
  frontend/js/views/add-child-page/PrimaryFieldRow.tsx
  frontend/js/widgets.tsx
Due: eslint, prettier

bump some development deps
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/index.ts
Due: eslint, prettier

update frontend deps (#1239)
  .pre-commit-config.yaml
  frontend/build.ts
  frontend/eslint.config.mjs
  frontend/js/dialogs/find-files/FindFiles.tsx
  frontend/js/header/GlobalActions.tsx
  frontend/js/views/PreviewPage.tsx
  frontend/js/views/add-child-page/PrimaryFieldRow.tsx
  frontend/js/widgets.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/index.ts
Due: eslint, prettier

builder: fix db connection leak
  lektor/builder.py
Due: none

ci: install tox-uv to speed up tox runs
  .github/workflows/ci-cd.yml
Due: prettier

style: enable ruff's perflint rules
  pyproject.toml
Due: none

style: enable some ruff rules that we already pass
  pyproject.toml
Due: none

style: address flake8-comprehensions rule suggestions
  lektor/i18n.py
  tests/admin/test_api.py
  tests/test_builder.py
  tests/test_tree.py
Due: none

style: use ruff instead of black, flake8, etc.
  .pre-commit-config.yaml
Due: prettier

style: ruff isort fixes
  build_frontend.py
  lektor/admin/context.py
  lektor/admin/modules/livereload.py
  lektor/admin/modules/serve.py
  lektor/admin/webui.py
  lektor/assets.py
  lektor/cli.py
  lektor/compat.py
  lektor/db.py
  lektor/devcli.py
  lektor/devserver.py
  lektor/environment/__init__.py
  lektor/imagetools/__init__.py
  lektor/imagetools/_compat.py
  lektor/imagetools/exif.py
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
  lektor/markdown/__init__.py
  lektor/markdown/controller.py
  lektor/packages.py
  lektor/publisher.py
  lektor/quickstart.py
  lektor/sourceobj.py
  lektor/watcher.py
  tests/test_conftest.py
  tests/test_themes.py
  tests/test_tree.py
  tests/test_urls.py
Due: none

style: address FLY rule suggestion
  lektor/imagetools/exif.py
Due: none

style: ruff style fixes
  build_frontend.py
  lektor/imagetools/_compat.py
  lektor/imagetools/exif.py
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
  lektor/markdown/mistune0.py
  lektor/markdown/mistune2.py
  lektor/utils.py
  tests/pep660-dummy-plugin/lektor_dummy_plugin.py
  tests/test_build_frontend.py
  tests/test_compat.py
  tests/test_imports.py
  tests/test_issue_410.py
  tests/test_pluginsystem.py
  tests/test_publisher.py
  tests/test_themes.py
Due: none

fixup: configure ruff's isort
  pyproject.toml
Due: none

style: address flake8-implicit-str-concat rule suggestions
  lektor/cli.py
  lektor/cli_utils.py
  tests/test_devcli.py
  tests/test_types.py
Due: none

refactor(i18n): use importlib.resources to read translation files
  lektor/i18n.py
  tests/test_i18n.py
Due: none

style: enable ruff's FLY rules
  pyproject.toml
Due: none

style: fix "E501 Line too long" warnings
  lektor/admin/modules/serve.py
  lektor/builder.py
  lektor/db.py
  lektor/environment/__init__.py
  lektor/imagetools/_compat.py
  lektor/imagetools/exif.py
  lektor/imagetools/thumbnail.py
  lektor/publisher.py
  lektor/sourceobj.py
  lektor/types/primitives.py
  tests/test_quickstart.py
  tests/test_watcher.py
Due: none

style: enable ruff's flake8-comprehensions rules
  pyproject.toml
Due: none

style: enable all of ruff's "E" and "W" checks
  pyproject.toml
Due: none
