Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    # NB: Using any black past 23.12.1 results in conflict between
    # black and reorder-python-imports.
    # See https://github.com/psf/black/issues/4175
    rev: "23.12.1"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v3.16.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8
        language_version: python3
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different
        files: \.(ts|tsx|js|less|ya?ml|md)$

fix(tests): omit slow tests when testing under mistune2
  tox.ini
Due: none

refactor: clean up mistune version parsing
  lektor/markdown/__init__.py
  lektor/markdown/mistune3.py
  pyproject.toml
  tests/test_markdown.py
Due: none

fix(tests): fix pylint errors
  lektor/markdown/mistune3.py
  tests/test_markdown.py
  tox.ini
Due: none

refactor(tox.ini): add lint-mistune0 and lint-mistune2 testenvs to tox.ini
  lektor/markdown/mistune0.py
  tests/test_markdown.py
  tox.ini
Due: none

fix(tests): fix mistune{0,2} tests
  pyproject.toml
  tests/test_imports.py
  tox.ini
Due: none

initial
  lektor/cli_utils.py
Due: none

rewording
  lektor/cli_utils.py
Due: none

fix failing test
  tests/test_cli.py
Due: none

build: use npm install --no-save to avoid dirty git source
  Makefile
  build_frontend.py
Due: none

frontend: use node native test runner; modernise
  .pre-commit-config.yaml
  frontend/build.ts
  frontend/eslint.config.mjs
  frontend/js/components/ToggleGroup.test.tsx
  frontend/js/i18n.test.ts
  frontend/js/sidebar/ChildPosCache.test.ts
  frontend/js/slugify.test.ts
  frontend/js/utils.test.ts
  frontend/js/widgets.test.ts
  frontend/js/widgets/DateInputWidget.test.ts
  frontend/js/widgets/flow/FlowWidget.test.ts
  frontend/js/widgets/flow/metaformat.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: eslint, prettier

ci: explicitly set up node for Python tests as well
  .github/workflows/ci-cd.yml
Due: prettier

patch
  lektor/cli.py
Due: none

frontend dependencies
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

frontend dependencies (#1260)
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

docs: update CHANGES.md
  CHANGES.md
Due: prettier

feat(ci): add combined coverage reporting job
  .github/workflows/ci-cd.yml
  pyproject.toml
  tox.ini
Due: prettier

ci(codecov): disuse codecov.io for aggregation of code coverage
  .codecov.yml
  .github/workflows/ci-cd.yml
  README.md
Due: prettier

fix(docs): spellcheck CHANGES.md
  CHANGES.md
Due: prettier

Release 3.4.0b14
  CHANGES.md
Due: prettier

tests: add test to excercise issue lektor/lektor#1272
  tests/test_markdown.py
Due: none

fix(deps): exclude mistune 2.0.x
  pyproject.toml
Due: none

package.json: do not run post-install scripts
  frontend/package.json
Due: none

run npm update --min-release-age 7
  frontend/package-lock.json
Due: none

lint
  frontend/js/sidebar/Alternatives.tsx
  frontend/js/views/delete/DeletePage.tsx
Due: eslint, prettier

frontend: upgrade jsdom and typescript
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

frontend: upgrade react-router to v8
  frontend/js/components/AdminLink.tsx
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/main.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

lint: use prek for pre-commit hooks
  .github/workflows/ci-cd.yml
  Makefile
  README.md
  pyproject.toml
Due: prettier

ci: bump and pin actions versions with gha-update
  .github/workflows/ci-cd.yml
Due: prettier

docs: update CHANGES
  CHANGES.md
Due: prettier

fix(typing): minor typing fix for lektor.utils.create_temp
  lektor/utils.py
Due: none

feat(deprecation): deprecate unused lektor.utils.is_path
  lektor/utils.py
Due: none

Revert "tests(tox.ini): remove `download = true` workaround for failing parallel tests"
  tox.ini
Due: none

fix(ci): address nits surfaced by actionlint
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

chore(ci): update action version (using gha-update)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier
