Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

Work on annotating lektor.db
  lektor/constants.py
  lektor/db.py
  lektor/typing/__init__.py
  lektor/typing/compat.py
  lektor/typing/db.py
  lektor/utils.py
  pyproject.toml
  tests/test_pagination.py
Due: none

More annotation
  lektor/assets.py
  lektor/sourceobj.py
  lektor/typing/compat.py
  pyproject.toml
  setup.cfg
Due: none

Rename some of the path types
  lektor/db.py
  lektor/sourceobj.py
  lektor/typing/db.py
  lektor/utils.py
Due: none

WIP - More typing
  lektor/assets.py
  lektor/db.py
  lektor/environment/__init__.py
  lektor/project.py
  lektor/sourceobj.py
  lektor/typing/db.py
  lektor/utils.py
  pyproject.toml
Due: none

Get mypy running on all pythons >= 3.6
  stubs/inifile.pyi
  stubs/mistune.pyi
  stubs/watchdog/events.pyi
  stubs/watchdog/observers/api.pyi
  tox.ini
Due: none

Leave mypy config is non-strict but passing state
  pyproject.toml
Due: none

Update CHANGES
  CHANGES.md
Due: prettier

Clean up MANIFEST.in
  MANIFEST.in
  pyproject.toml
  tox.ini
Due: none

[jinja_debug] Add jinja debug extension when LEKTOR_DEV=1
  lektor/devserver.py
Due: none

[jinja_debug] Add changelog note.
  CHANGES.md
Due: prettier

Refactor: Move adaptor logic from lektor.admin.modules.api to Tree*
  lektor/admin/modules/api.py
  lektor/db.py
  tests/test_tree.py
Due: none

Fix the ability to add an initial flowblock to a page using the admin GUI
  CHANGES.md
  lektor/admin/static/js/widgets/flow/FlowWidget.tsx
Due: eslint, prettier

Don't use Tree.edit when not editing
  lektor/admin/modules/api.py
  lektor/db.py
  tests/test_tree.py
Due: none

Don't create attachments if datamodel does not allow them
  lektor/editor.py
Due: none

Fix typo in #969
  lektor/admin/modules/api.py
Due: none

simplify webpack config
  lektor/admin/static/js/main.tsx
  lektor/admin/static/webpack.config.js
  lektor/admin/templates/base.html
Due: eslint, prettier

Test that Attachment.url_path returns the primary value for any alt
  tests/test_db.py
Due: none

Pad.get should, by default, return the page in the primary alt
  lektor/db.py
Due: none

Fix Attachment.url_path to point to URL corresponding to primary alt
  lektor/db.py
  tests/test_db.py
Due: none

db.root should return root for primary alt
  lektor/db.py
Due: none

Only emit artifacts for attachments with alt equal to primary alt
  lektor/build_programs.py
Due: none

Fix tests to match changes in default alt for Pad.get, Pad.root
  tests/demo-project/content/extra/paginated/contents+de.lr
  tests/demo-project/content/extra/paginated/contents.lr
  tests/demo-project/models/paginated.ini
  tests/test_builder.py
  tests/test_db.py
  tests/test_pagination.py
  tests/test_urls.py
Due: none

Bug fix: when iterating attachments, return attachments with current alt
  lektor/db.py
Due: none

Fix buglet in dependency tracking: pages depend on their model
  CHANGES.md
  lektor/build_programs.py
  lektor/db.py
  tests/test_builder.py
Due: prettier

Tests for lektor.markdown
  tests/test_markdown.py
Due: none

Fix overzealous html-escaping in Markup renderer
  lektor/markdown.py
  tests/test_markdown.py
Due: none

Fix coverage reporting for tox envs other than `py`
  tox.ini
Due: none

Move converage config to pyproject.toml
  pyproject.toml
  tox.ini
Due: none

Move pylint configuration to pyproject.toml
  pylintrc
  pyproject.toml
Due: none

Cleanup pylint config
  pyproject.toml
Due: none

Run CI tests on Windows on python 3.7 & 3.10 rather than 3.6 & 3.10.
  .github/workflows/ci.yml
Due: prettier

Exercise uncaught OSError bugs on Windows.
  tests/test_db.py
Due: none

Fix for uncaught OSError(error=EINVAL) on Windows
  CHANGES.md
  lektor/db.py
Due: prettier

Fix codecov reporting
  .github/workflows/ci.yml
Due: prettier

Use codecov github action to publish coverage data to codecov
  .github/workflows/ci.yml
Due: prettier

Fix installation of ImageMagick on Windows test runner
  .github/workflows/ci.yml
Due: prettier

Standardize the LICENSE (#972)
  CHANGES.md
  LICENSE
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
