Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix --max-warnings 0

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

Update CHANGES
  CHANGES.md
Due: prettier

Add missing implict requires, remove dropped extras & unneeded deps
  pyproject.toml
  setup.cfg
Due: none

add failing testcase
  tests/admin/test_serve.py
Due: none

fix: adds keyword argument
  lektor/admin/context.py
Due: none

admin server: pass requests for /admin on to frontend app
  lektor/admin/modules/dash.py
  lektor/admin/webui.py
Due: none

admin server: test that "GET /admin" gets to the admin app
  tests/admin/test_webui.py
Due: none

fix black styling
  tests/admin/test_serve.py
Due: none

Backport #1044 - pass requests for /admin on to frontend app
  CHANGES.md
  lektor/admin/modules/dash.py
  tests/test_webui.py
Due: prettier

Use react-textarea-autosize to autosize textarea
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

Allow textarea to be resized via drag-handle
  frontend/scss/forms.scss
Due: none

admin: Fix sized input fields
  CHANGES.md
  frontend/js/widgets/types.ts
Due: eslint, prettier

admin: handle hotkey events delivered to preview iframe
  CHANGES.md
  frontend/js/views/PreviewPage.tsx
Due: eslint, prettier

admin: fix Control-e hotkey
  CHANGES.md
  frontend/js/components/AdminLink.tsx
Due: eslint, prettier

admin: make save hotkey always switch to preview view
  CHANGES.md
  frontend/js/views/edit/EditPage.tsx
Due: eslint, prettier

admin: ran `npm audit fix`
  frontend/package-lock.json
Due: none

Use fit-textarea to autosize textarea
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

admin server: excercise bug serving files with relative output directory
  tests/admin/test_serve.py
Due: none

admin server: fix serving of files from relative output directory
  lektor/admin/modules/serve.py
Due: none

admin server: Fix serving sub-artifacts with relative output directory (#1047)
  lektor/admin/modules/serve.py
  tests/admin/test_serve.py
Due: none

esbuild: watch SCSS source files for changes
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

Enhance lektor.publisher.Command
  lektor/publisher.py
Due: none

Disable KeyboardInterrupt handling test under Windows
  tests/test_publisher.py
Due: none

Fix tests: do not rely on sh/bash being available on test environments (Windows)
  tests/test_publisher.py
Due: none

Refactor lektor.publisher.GithubPagesPublisher
  lektor/publisher.py
  tests/conftest.py
  tests/test_deploy.py
  tests/test_publisher.py
  tests/test_quickstart.py
Due: none

TemporaryDirectory fails to cleanup read-only files (Windows, py<3.8)
  lektor/compat.py
  lektor/publisher.py
  tests/test_compat.py
Due: none

Fix windows tests for variations in os.linesep
  tests/test_publisher.py
Due: none

Add support for ?preserve_history query parameter on GH Pages target URLs
  lektor/publisher.py
  tests/test_publisher.py
Due: none

docs: Fix a few typos
  lektor/db.py
  lektor/editor.py
  lektor/environment/config.py
  tests/admin/test_api.py
  tests/test_publisher.py
Due: none

docs: Fix a few typos (#1049)
  lektor/db.py
  lektor/editor.py
  lektor/environment/config.py
  tests/admin/test_api.py
  tests/test_publisher.py
Due: none

Fix for werkzeug 2.2.0
  lektor/admin/modules/dash.py
Due: none

Use shift_path_info from wsgiref instead of werkzeug's pop_path_info
  lektor/admin/webui.py
  tests/admin/test_dash.py
Due: none

Fixes for newly released Werkzeug 2.2.0 (#1051)
  CHANGES.md
  lektor/admin/modules/dash.py
  lektor/admin/webui.py
  tests/admin/test_dash.py
Due: prettier

Fix building of admin app when devserver is run with LEKTOR_DEV set
  CHANGES.md
  lektor/devserver.py
Due: prettier

admin: fix initialization of indeterminate checkboxes
  frontend/js/widgets/BooleanInputWidget.tsx
Due: eslint, prettier

Add tests for bugs to be fixed in this PR
  tests/admin/test_serve.py
  tests/test_builder.py
  tests/test_db.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
