Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

sticky position for save button
  lektor/admin/static/less/main.less
Due: prettier

lektor.types: remove cyclic imports
  lektor/datamodel.py
  lektor/types/__init__.py
  lektor/types/base.py
  lektor/types/fake.py
  lektor/types/flow.py
  lektor/types/formats.py
  lektor/types/multi.py
  lektor/types/primitives.py
  tests/test_types.py
Due: none

split lektor.environment to reduce cycles
  lektor/datamodel.py
  lektor/environment/__init__.py
  lektor/environment/config.py
  lektor/environment/expressions.py
  lektor/types/multi.py
  tests/conftest.py
Due: none

add lektor.constants to reduce import cycles
  lektor/admin/modules/api.py
  lektor/admin/modules/dash.py
  lektor/build_programs.py
  lektor/builder.py
  lektor/constants.py
  lektor/datamodel.py
  lektor/db.py
  lektor/editor.py
  lektor/environment.py
  lektor/sourceobj.py
  lektor/sourcesearch.py
  lektor/types/base.py
  lektor/types/fake.py
  lektor/types/flow.py
  lektor/types/multi.py
  lektor/types/primitives.py
Due: none

remove lektor.uilink
  lektor/i18n.py
  lektor/uilink.py
  lektor/utils.py
Due: none

pylint: enable cyclic-import rule
  pylintrc
Due: none

pylint: only locally disable import-outside-toplevel
  lektor/cli.py
  lektor/cli_utils.py
  lektor/devcli.py
  lektor/devserver.py
  lektor/publisher.py
  lektor/quickstart.py
  lektor/utils.py
  pylintrc
Due: none

remove useless object inheritance from classes
  lektor/admin/modules/common.py
  lektor/admin/modules/serve.py
  lektor/admin/webui.py
  lektor/build_programs.py
  lektor/builder.py
  lektor/buildfailures.py
  lektor/cli_utils.py
  lektor/context.py
  lektor/databags.py
  lektor/datamodel.py
  lektor/db.py
  lektor/devserver.py
  lektor/editor.py
  lektor/environment/__init__.py
  lektor/environment/config.py
  lektor/environment/expressions.py
  lektor/filecontents.py
  lektor/imagetools.py
  lektor/markdown.py
  lektor/pagination.py
  lektor/pluginsystem.py
  lektor/project.py
  lektor/publisher.py
  lektor/quickstart.py
  lektor/reporter.py
  lektor/sourceobj.py
  lektor/types/base.py
  lektor/types/flow.py
  lektor/types/formats.py
  lektor/types/multi.py
  lektor/utils.py
  lektor/videotools.py
  lektor/watcher.py
  pylintrc
  tests/test_pagination.py
  tests/test_types.py
Due: none

more imports at top level
  lektor/builder.py
  lektor/cli.py
  lektor/devserver.py
  lektor/environment/__init__.py
  lektor/pluginsystem.py
  lektor/project.py
  lektor/utils.py
Due: none

sticky position for save button (#870)
  lektor/admin/static/less/main.less
Due: prettier

admin: disable save button on edit page unless something changed
  lektor/admin/static/js/views/EditPage.tsx
Due: eslint, prettier

admin: enforce explitic <button> type
  lektor/admin/.eslintrc.js
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/DeletePage.tsx
Due: eslint, prettier

i18n: refactor helpers a bit
  lektor/admin/static/js/components/types.ts
  lektor/admin/static/js/dialogs/publish.tsx
  lektor/admin/static/js/i18n.tsx
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/DeletePage.tsx
  lektor/admin/static/js/views/EditPage.tsx
Due: eslint, prettier

i18n: separate translation functions for strings and objects
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/i18n.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/userLabel.tsx
  lektor/admin/static/js/views/AddChildPage.tsx
  lektor/admin/static/js/views/DeletePage.tsx
  lektor/admin/static/js/widgets.tsx
  lektor/admin/static/js/widgets/BooleanInputWidget.tsx
  lektor/admin/static/js/widgets/CheckboxesInputWidget.tsx
  lektor/admin/static/js/widgets/FlowWidget.tsx
  lektor/admin/static/js/widgets/SelectInputWidget.tsx
  lektor/admin/static/js/widgets/fakeWidgets.tsx
Due: eslint, prettier

Report slug_format expansion failure
  lektor/datamodel.py
Due: none

Add unit tests for DataModel.get_default_child_slug
  tests/test_datamodel.py
Due: none

Defer computation of default slug until after Page construction
  lektor/db.py
Due: none

Support use of model data descriptors as sort keys
  lektor/db.py
Due: none

Declare source encoding
  lektor/db.py
Due: none

Run black, reorder-python-imports on files we've touched
  lektor/datamodel.py
  lektor/db.py
  tests/test_datamodel.py
Due: none

Delete spurious unused argument
  lektor/db.py
Due: none

Uniform handling of deferred (descriptor) model data (#789)
  lektor/datamodel.py
  lektor/db.py
  tests/test_datamodel.py
Due: none

lektor.types: reexport for compatibility
  lektor/types/__init__.py
Due: none

lektor.environment: reexport for compatibility
  lektor/environment/__init__.py
Due: none

Docstring fixes.
  lektor/pagination.py
Due: none

Fix docstring.
  lektor/db.py
Due: none

Minor docstring fixes (#874)
  lektor/db.py
  lektor/pagination.py
Due: none

Reexport types for compatibility (#873)
  lektor/environment/__init__.py
  lektor/types/__init__.py
Due: none

sidebar: function components
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
Due: eslint, prettier

add helper function for keyboard shortcuts
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/utils.tsx
  lektor/admin/static/js/views/EditPage.tsx
Due: eslint, prettier

add Control+e/Meta+e keyboard shortcut for the edit page
  lektor/admin/static/js/components/LinkWithHotkey.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/utils.tsx
Due: eslint, prettier

Fix exception message to make it a bit more helpful.
  lektor/pluginsystem.py
  tests/test_plugins.py
Due: none

require Python 3.6 and remove Python 3.5 from CI
  .github/workflows/ci.yml
  setup.py
Due: none

Race to be the first to use python>=3.6 features
  lektor/pluginsystem.py
Due: none

Fix reference cycle in Environment
  lektor/environment/__init__.py
  tests/test_environment.py
Due: none

Fixes installing lokal plugins with extras_require (for testing dependencies mostly). Fixes #865
  lektor/packages.py
  tests/test_packages.py
Due: none

Fix pre-commit checks
  lektor/packages.py
  tests/test_packages.py
Due: none

Update lektor/packages.py
  lektor/packages.py
Due: none

Extract requirements-generation into its own function to make the main function more readable.
  lektor/packages.py
Due: none

Switch to dependency package that still installs on python3.5
  tests/test_packages.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less)$
