Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0

prettier:
  name: prettier
  language: node
  entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different

fix(server): with LEKTOR_DEV and --browse, don't launch browser every reload
  lektor/devserver.py
Due: none

refactor!: remove the --profile option from the build command
  lektor/cli.py
  lektor/utils.py
Due: none

refactor!: remove the --profile option from the build command (#1137)
  lektor/cli.py
  lektor/utils.py
Due: none

fix(builder): logic in FileInfo.unchanged was incorrect
  lektor/builder.py
  tests/test_builder.py
Due: none

fix(builder): don't ignore `encoding` when opening temp file
  lektor/builder.py
  tests/test_builder.py
Due: none

fix(builder): fix Builder.touch_site_config
  lektor/builder.py
Due: none

fix(builder): fix docstring
  lektor/builder.py
Due: none

fix(mypy): fix mypy errors in `lektor.admin.modules`
  CHANGES.md
  lektor/admin/modules/livereload.py
  lektor/admin/modules/serve.py
  lektor/reporter.py
Due: prettier

Random buglet fixes in lektor.builder (#1146)
  lektor/builder.py
  tests/test_builder.py
Due: none

docs: update CHANGES.md
  CHANGES.md
Due: prettier

test: add test to exercise #908
  tests/test_themes.py
Due: none

Release 3.4.0b7
  CHANGES.md
Due: prettier

tests: enable mypy checks on lektor.builder
  pyproject.toml
Due: none

refactor: capture FileInfo state early
  lektor/builder.py
  tests/admin/test_serve.py
  tests/test_builder.py
  tests/test_urls.py
Due: none

refactor(builder): refactor db connection handling
  lektor/builder.py
Due: none

refactor(builder): WIP notes/comments
  lektor/builder.py
Due: none

refactor(builder): keep db connections open for life of builder
  lektor/builder.py
  lektor/sourcesearch.py
Due: none

refactor(lektor.assets): cache child assets on Directory
  lektor/assets.py
  lektor/db.py
  tests/test_assets.py
Due: none

refactor(lektor.assets): present a single merged asset tree
  lektor/assets.py
  lektor/db.py
  tests/test_assets.py
Due: none

tests(lektor.assets): increase test coverage
  lektor/assets.py
  tests/test_assets.py
Due: none

fix: do not Path.resolve() asset roots
  lektor/assets.py
  tests/test_builder.py
Due: none

refactor(lektor.assets): be more careful about validating path components
  lektor/assets.py
  tests/test_assets.py
Due: none

refactor(lektor.assets)!: remove vestigial method `Asset.build_asset`
  lektor/assets.py
Due: none

refactor(lektor.assets): refactor Asset.resolve_url_path
  lektor/admin/modules/serve.py
  lektor/assets.py
  tests/test_assets.py
Due: none

tests(lektor.assets): enough annotations to get mypy to pass
  lektor/db.py
  lektor/environment/__init__.py
  lektor/sourceobj.py
  pyproject.toml
Due: none

Fix #908: Omit shadowed assets from build (#1147)
  lektor/admin/modules/serve.py
  lektor/assets.py
  lektor/db.py
  lektor/environment/__init__.py
  lektor/sourceobj.py
  pyproject.toml
  tests/test_assets.py
  tests/test_builder.py
  tests/test_themes.py
Due: none

Release 3.4.0b8
  CHANGES.md
Due: prettier

pylint: disable no-member rule
  pyproject.toml
Due: none

deps; upgrade prettier
  .pre-commit-config.yaml
  frontend/build.ts
  frontend/js/components/DialogSlot.tsx
  frontend/js/components/ServerStatus.tsx
  frontend/js/components/ToggleGroup.test.tsx
  frontend/js/components/use-changed-flag.ts
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/context/appsettings-context.ts
  frontend/js/dialogs/Preferences.tsx
  frontend/js/dialogs/Publish.tsx
  frontend/js/dialogs/Refresh.tsx
  frontend/js/dialogs/find-files/FindFiles.tsx
  frontend/js/events.ts
  frontend/js/fetch.ts
  frontend/js/header/BreadCrumbs.tsx
  frontend/js/i18n.test.ts
  frontend/js/i18n.tsx
  frontend/js/main.tsx
  frontend/js/shortcut-keys.ts
  frontend/js/sidebar/ChildActions.tsx
  frontend/js/sidebar/PageActions.tsx
  frontend/js/userLabel.tsx
  frontend/js/views/AddAttachmentPage.tsx
  frontend/js/views/App.tsx
  frontend/js/views/add-child-page/AddChildPage.tsx
  frontend/js/views/add-child-page/AvailableModels.tsx
  frontend/js/views/delete/DeleteAllAltsChoice.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/js/widgets.tsx
  frontend/js/widgets/CheckboxesInputWidget.tsx
  frontend/js/widgets/DateInputWidget.tsx
  frontend/js/widgets/InputWidgetBase.tsx
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/js/widgets/SelectInputWidget.tsx
  frontend/js/widgets/flow/FlowWidget.test.ts
  frontend/js/widgets/flow/FlowWidget.tsx
  frontend/js/widgets/flow/metaformat.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scss/bootstrap-overrides.scss
Due: eslint, prettier

pre-commit: serialise node linters
  .pre-commit-config.yaml
Due: prettier

frontend: enable type-aware eslint rules
  frontend/.eslintrc.js
  frontend/build.ts
  frontend/js/components/ServerStatus.tsx
  frontend/js/components/types.ts
  frontend/js/components/use-changed-flag.ts
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/context/appsettings-context.ts
  frontend/js/context/record-context.ts
  frontend/js/dialogs/Publish.tsx
  frontend/js/dialogs/find-files/FindFiles.tsx
  frontend/js/events.ts
  frontend/js/fetch.ts
  frontend/js/shortcut-keys.ts
  frontend/js/sidebar/ChildPagination.tsx
  frontend/js/sidebar/Sidebar.tsx
  frontend/js/utils.ts
  frontend/js/views/AddAttachmentPage.tsx
  frontend/js/views/App.tsx
  frontend/js/views/PreviewPage.tsx
  frontend/js/views/add-child-page/types.ts
  frontend/js/views/edit/EditPage.tsx
  frontend/js/widgets.tsx
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/js/widgets/flow/FlowWidget.tsx
  frontend/js/widgets/flow/metaformat.tsx
  frontend/js/widgets/types.ts
Due: eslint, prettier

frontend: upgrade typescript-eslint
  frontend/.eslintrc.js
  frontend/js/components/DialogSlot.tsx
  frontend/js/components/ErrorDialog.tsx
  frontend/js/components/ServerStatus.tsx
  frontend/js/components/SlideDialog.tsx
  frontend/js/components/use-changed-flag.ts
  frontend/js/context/record-context.ts
  frontend/js/dialogs/Preferences.tsx
  frontend/js/dialogs/Refresh.tsx
  frontend/js/dialogs/find-files/FindFiles.tsx
  frontend/js/header/GlobalActions.tsx
  frontend/js/i18n.test.ts
  frontend/js/shortcut-keys.ts
  frontend/js/sidebar/Sidebar.tsx
  frontend/js/views/App.tsx
  frontend/js/views/add-child-page/AvailableModels.tsx
  frontend/js/views/delete/DeleteAllAltsChoice.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/js/widgets.tsx
  frontend/js/widgets/SelectInputWidget.tsx
  frontend/js/widgets/flow/AddFlowBlockButtons.tsx
  frontend/js/widgets/flow/FlowBlock.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

fix: `bag()` should get `site` from jinja context
  lektor/environment/__init__.py
  tests/test_environment.py
Due: none

Add Turkish translation
  lektor/translations/tr.json
Due: none

fix(frontend): add new Turkish translation to i18n.tsx
  frontend/js/i18n.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
