Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: "23.7.0"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v3.10.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pycqa/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          # NB: autoupdate does not pick up flake8-bugbear since it is a
          # transitive dependency. Make sure to update flake8-bugbear
          # manually on a regular basis.
          - flake8-bugbear==23.7.10

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        require_serial: true
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin/prettier.cjs --write --list-different
        require_serial: true
        files: \.(ts|tsx|js|less|ya?ml|md)$

fix: better validation of API parameters
  lektor/admin/modules/api.py
Due: none

test: new record creation confined to `content` tree
  tests/admin/test_api.py
Due: none

fix: enforce canonical db path
  lektor/admin/modules/api.py
Due: none

Sanitize DB path traversal (3.3 branch) (#1180)
  lektor/editor.py
  lektor/utils.py
  tests/test_editor.py
  tests/test_utils.py
Due: none

Better API parameter validation (3.3 branch) (#1182)
  lektor/admin/modules/api.py
  tests/test_api.py
Due: none

Sanitize DB path traversal (#1179)
  lektor/editor.py
  lektor/utils.py
  tests/test_editor.py
  tests/test_utils.py
Due: none

Better API parameter validation (#1181)
  lektor/admin/modules/api.py
  tests/admin/test_api.py
Due: none

Release 3.4.0b11
  CHANGES.md
Due: prettier

Release 3.3.11
  CHANGES.md
Due: prettier

dash blueprint: quote add-child endpoint
  lektor/admin/modules/dash.py
Due: none

fix[ci]: skip testing with old Pillow version on macos
  .github/workflows/ci.yml
Due: prettier

Release 3.4.0b12
  CHANGES.md
Due: prettier

frontend: npm update and major bumps of dev dependencies
  frontend/js/components/ToggleGroup.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/index.ts
  frontend/tooldrawer/lib/marshall.ts
Due: eslint, prettier

tsconfig: update target version to ES2018
  frontend/tsconfig.json
Due: none

fix(tests): fix spurious test failure under setuptools >= 71
  tests/conftest.py
Due: none

fix(ghpages publisher): fix for git 2.46.0
  lektor/publisher.py
Due: none

chore(ci): update to latest versions of actions
  .github/workflows/ci.yml
Due: prettier

fix(ci): specify python version to use for building dist
  .github/workflows/ci.yml
Due: prettier

Chore: upgrade to latest versions of actions in our CI workflow (#1191)
  .github/workflows/ci.yml
Due: prettier

fix(deps): declare dependency on typing-extensions
  pyproject.toml
Due: none

ci(codecov): disuse codecov.io for aggregation of code coverage
  .codecov.yml
  .github/workflows/ci.yml
  README.md
Due: prettier

fix(ci): provide explicit API token to codecov-action
  .github/workflows/ci.yml
Due: prettier

fix(ci): provide explicit API token to codecov-action (#1193)
  .github/workflows/ci.yml
Due: prettier

fix(api): /matchurl should only match URLs for Records
  lektor/admin/modules/api.py
  tests/test_api.py
Due: none

fix(tox): fix tox.ini to allow running end-of-lifed python versions
  tox.ini
Due: none

chore(ci): update workflow actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  tox.ini
Due: prettier

tests: test under python 3.12
  .github/workflows/ci.yml
  setup.cfg
  tox.ini
Due: prettier

fix(ci): python 3.7 is apparently unsupported on the macos runner
  .github/workflows/ci.yml
Due: prettier

fix(tests): increase FSEventObserver settle wait period on macos
  tests/test_watcher.py
Due: none

Fix and update CI tests in the 3.3-maintenance branch (#1194)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  setup.cfg
  tests/test_watcher.py
  tox.ini
Due: prettier

Release 3.3.12
  CHANGES.md
Due: prettier

test: update to latest pylint (3.2.7)
  tox.ini
Due: none

fix: address issues surfaced by the latest pylint
  lektor/markdown/__init__.py
  lektor/markdown/controller.py
  lektor/packages.py
  lektor/publisher.py
  lektor/utils.py
Due: none

Add support for webp and avif images and add a global thumbnail format config param
  lektor/db.py
  lektor/environment/config.py
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
  pyproject.toml
  tests/demo-project/content/icc-profile-test/license2.txt
Due: none

🧪🚑 Cap Pillow below v11
  tox.ini
Due: none

🧪🚑 Pin Pillow below v11 (#1201)
  tox.ini
Due: none
