Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
  require_serial: true

prettier:
  name: prettier
  language: node
  entry: ./frontend/node_modules/prettier/bin/prettier.cjs --write --list-different
  require_serial: true

refactor(imagetools): refactor get_image_info to use Pillow
  lektor/imagetools.py
  pyproject.toml
  tests/test_imagetools.py
Due: none

tests(imagetools): use real Context in tests
  tests/imagetools/test_thumbnail.py
  tests/test_urls.py
Due: none

docs(imagetools): update comments
  lektor/imagetools/thumbnail.py
Due: none

refactor: split imagetools from module to package
  lektor/imagetools.py
  lektor/imagetools/__init__.py
  lektor/imagetools/_compat.py
  lektor/imagetools/exif.py
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
  pyproject.toml
  tests/imagetools/exif-test-1.jpg
  tests/imagetools/exif-test-2.gif
  tests/imagetools/exif-test-3.jpg
  tests/imagetools/exif-test-4.jpg
  tests/imagetools/test_exif.py
  tests/imagetools/test_image_info.py
  tests/imagetools/test_thumbnail.py
Due: none

fix(bitrot): use PIL.Image.Transpose int enum
  lektor/imagetools/_compat.py
  lektor/imagetools/thumbnail.py
  pyproject.toml
Due: none

refactor(Video): use cached_property
  lektor/db.py
Due: none

refactor(imagetools): clean up get_svg_info
  lektor/imagetools/image_info.py
Due: none

fix(imagetools): always convert image to RGB before scaling
  lektor/imagetools.py
  tests/demo-project/content/icc-profile-test/CGATS001Compat-v2-micro.icc
  tests/demo-project/content/icc-profile-test/LICENSE.txt
  tests/demo-project/content/icc-profile-test/README.md
  tests/demo-project/content/icc-profile-test/contents.lr
  tests/demo-project/content/icc-profile-test/license.txt
  tests/demo-project/content/icc-profile-test/rgb-to-gbr-test.jpg
  tests/demo-project/templates/icc-profile-test.html
  tests/test_imagetools.py
  tests/test_tree.py
Due: prettier

test(imagetools): add thumbnail dependency race-condition test
  tests/imagetools/test_thumbnail.py
Due: none

fix: do not transpose PNGs based on Exif Orientation
  lektor/imagetools.py
  tests/test_imagetools.py
Due: none

refactor(imagetools)!: remove deprecated methods of ThumbnailMode
  lektor/imagetools.py
Due: none

tests(imagetools): type annotations
  lektor/imagetools.py
  pyproject.toml
  tests/test_imagetools.py
Due: none

refactor(imagetools): use Pillow to access EXIF tags
  lektor/imagetools.py
  pyproject.toml
  tests/exif-test-1.jpg
  tests/exif-test-2.gif
  tests/test_imagetools.py
Due: none

fix(b/c): re-export `compute_dimensions` and `get_quality`
  lektor/imagetools/__init__.py
  tests/imagetools/test_imagetools.py
Due: none

fix(test): fix test for pillow 10.0.0
  tests/imagetools/test_thumbnail.py
Due: none

fix: compatibility with older versions of Pillow
  lektor/imagetools.py
  tests/exif-test-3.jpg
  tests/exif-test-4.jpg
  tests/test_imagetools.py
Due: none

refactor(imagetools): deprecate passing file object to get_image_info
  lektor/db.py
  lektor/imagetools.py
  tests/test_imagetools.py
Due: none

docs: add 'e0eb6fa run pyupgrade' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

docs: update CHANGES.md
  CHANGES.md
Due: prettier

chore: remove python<3.8 compatibility code
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
Due: none

Refactor: Use Pillow for image info (#1138)
  lektor/db.py
  lektor/imagetools.py
  lektor/imagetools/__init__.py
  lektor/imagetools/_compat.py
  lektor/imagetools/exif.py
  lektor/imagetools/image_info.py
  lektor/imagetools/thumbnail.py
  pyproject.toml
  tests/demo-project/content/icc-profile-test/CGATS001Compat-v2-micro.icc
  tests/demo-project/content/icc-profile-test/LICENSE.txt
  tests/demo-project/content/icc-profile-test/README.md
  tests/demo-project/content/icc-profile-test/contents.lr
  tests/demo-project/content/icc-profile-test/license.txt
  tests/demo-project/content/icc-profile-test/rgb-to-gbr-test.jpg
  tests/demo-project/templates/icc-profile-test.html
  tests/imagetools/exif-test-1.jpg
  tests/imagetools/exif-test-2.gif
  tests/imagetools/exif-test-3.jpg
  tests/imagetools/exif-test-4.jpg
  tests/imagetools/test_exif.py
  tests/imagetools/test_image_info.py
  tests/imagetools/test_imagetools.py
  tests/imagetools/test_thumbnail.py
  tests/test_tree.py
  tests/test_urls.py
Due: prettier

perf: do not use React's StrictMode in production
  frontend/js/main.tsx
Due: eslint, prettier

revert: remove --no-reload cli option
  lektor/admin/webui.py
  lektor/cli.py
  lektor/devserver.py
Due: none

feat(admin gui): use link for "Return to Website" button
  frontend/js/header/GlobalActions.tsx
Due: eslint, prettier

feat: tool drawer for edit and live-reload buttons
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/components/_svg-icons/fontawesome.ts
  frontend/tooldrawer/components/checkbox-button.ts
  frontend/tooldrawer/components/controllers/window-event-listener.ts
  frontend/tooldrawer/components/css/button.ts
  frontend/tooldrawer/components/css/visually-hidden.ts
  frontend/tooldrawer/components/drag-handle.ts
  frontend/tooldrawer/components/drawer.ts
  frontend/tooldrawer/components/icon.ts
  frontend/tooldrawer/components/link-button.ts
  frontend/tooldrawer/components/livereload-widget.ts
  frontend/tooldrawer/components/widget.ts
  frontend/tooldrawer/index.ts
  frontend/tooldrawer/lib/condition.ts
  frontend/tooldrawer/lib/livereloader.ts
  frontend/tooldrawer/lib/marshall.ts
  frontend/tooldrawer/lib/server-sent-events.ts
  frontend/tooldrawer/livereload-worker.ts
  frontend/tooldrawer/tsconfig.json
  lektor/admin/modules/livereload.py
  lektor/admin/modules/serve.py
  lektor/admin/templates/edit-button.html
  lektor/admin/templates/livereload-worker.js
  lektor/admin/templates/livereload.html
  lektor/admin/templates/tooldrawer.html
  tests/admin/test_serve.py
Due: eslint, prettier

feat: tool drawer for edit and live-reload buttons (#1164)
  frontend/build.ts
  frontend/js/header/GlobalActions.tsx
  frontend/js/main.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/components/_svg-icons/fontawesome.ts
  frontend/tooldrawer/components/checkbox-button.ts
  frontend/tooldrawer/components/controllers/window-event-listener.ts
  frontend/tooldrawer/components/css/button.ts
  frontend/tooldrawer/components/css/visually-hidden.ts
  frontend/tooldrawer/components/drag-handle.ts
  frontend/tooldrawer/components/drawer.ts
  frontend/tooldrawer/components/icon.ts
  frontend/tooldrawer/components/link-button.ts
  frontend/tooldrawer/components/livereload-widget.ts
  frontend/tooldrawer/components/widget.ts
  frontend/tooldrawer/index.ts
  frontend/tooldrawer/lib/condition.ts
  frontend/tooldrawer/lib/livereloader.ts
  frontend/tooldrawer/lib/marshall.ts
  frontend/tooldrawer/lib/server-sent-events.ts
  frontend/tooldrawer/livereload-worker.ts
  frontend/tooldrawer/tsconfig.json
  lektor/admin/modules/livereload.py
  lektor/admin/modules/serve.py
  lektor/admin/templates/edit-button.html
  lektor/admin/templates/livereload-worker.js
  lektor/admin/templates/livereload.html
  lektor/admin/templates/tooldrawer.html
  lektor/admin/webui.py
  lektor/cli.py
  lektor/devserver.py
  tests/admin/test_serve.py
Due: eslint, prettier

Release 3.4.0b9
  CHANGES.md
Due: prettier

fix(_inject_tooldrawer): fix "bad escape \u"
  lektor/admin/modules/serve.py
  tests/admin/test_serve.py
Due: none

chore: update CHANGES.md
  CHANGES.md
Due: prettier

Release 3.4.0b10
  CHANGES.md
Due: prettier

test: check that make_editor_session rejects funky paths
  tests/test_editor.py
Due: none

test: check that untrusted_to_os_path prevents traversal to parent
  tests/test_utils.py
Due: none

fix: validate path in make_editor_session
  lektor/editor.py
Due: none

fix[untrusted_to_os_path]: prevent traversal to parent directories
  lektor/utils.py
Due: none

fix[untrusted_to_os_path]: prevent traversal to parent directories
  lektor/utils.py
  tests/test_utils.py
Due: none

test: new record creation confined to `content` tree
  tests/test_api.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
