Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: "21.9b0"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v2.6.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.2"
    hooks:
      - id: flake8
        language_version: python3
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different
        files: \.(ts|tsx|js|less|ya?ml|md)$

Fix breakage when alternatives are not configured
  lektor/db.py
  tests/test_tree.py
Due: none

fix jumpiness by getting rid of <Switch> again
  lektor/admin/static/js/context/page-context.ts
  lektor/admin/static/js/main.tsx
Due: eslint, prettier

ResultRow: use AdminLink to avoid full page reload
  lektor/admin/static/js/dialogs/find-files/ResultRow.tsx
Due: eslint, prettier

admin: use context to propagate current view
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/context/page-context.ts
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/views/App.tsx
Due: eslint, prettier

cleanup uses of useRecord
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
  lektor/admin/static/js/views/edit/EditPageActions.tsx
Due: eslint, prettier

admin: remove RecordProps
  lektor/admin/static/js/components/AdminLink.tsx
  lektor/admin/static/js/components/DialogSlot.tsx
  lektor/admin/static/js/components/RecordComponent.tsx
  lektor/admin/static/js/components/types.ts
  lektor/admin/static/js/components/use-go-to-admin-page.ts
  lektor/admin/static/js/context/page-context.ts
  lektor/admin/static/js/context/record-context.ts
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
  lektor/admin/static/js/dialogs/find-files/ResultRow.tsx
  lektor/admin/static/js/fetch.ts
  lektor/admin/static/js/header/BreadCrumbs.tsx
  lektor/admin/static/js/header/GlobalActions.tsx
  lektor/admin/static/js/header/Header.tsx
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/AttachmentActions.tsx
  lektor/admin/static/js/sidebar/ChildActions.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
  lektor/admin/static/js/utils.ts
  lektor/admin/static/js/views/AddAttachmentPage.tsx
  lektor/admin/static/js/views/App.tsx
  lektor/admin/static/js/views/PreviewPage.tsx
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
  lektor/admin/static/js/views/edit/EditPageActions.tsx
Due: eslint, prettier

also use correct isActive check for <LinkWithHotkey>
  lektor/admin/static/js/components/AdminLink.tsx
  lektor/admin/static/js/components/AdminLinkWithHotkey.tsx
  lektor/admin/static/js/sidebar/PageActions.tsx
Due: eslint, prettier

Fix check for symlink support.
  lektor/quickstart.py
  tests/test_devcli.py
Due: none

Fix test under Windows.
  tests/test_publisher.py
Due: none

Update CHANGES
  CHANGES.md
Due: prettier

Exclude .eslintrc.js from packaging
  MANIFEST.in
Due: none

Add tox environ to test without external utilities available.
  tox.ini
Due: none

Fix tests to be a bit less brittle
  tests/test_devcli.py
Due: none

Skip test when git unavailable
  tests/test_quickstart.py
Due: none

removed F from test arguments.... it is global now
  tests/test_db.py
Due: none

Add test case for when git is not available
  tests/test_quickstart.py
Due: none

Run -noutils tox env in CI testing
  .github/workflows/ci.yml
  tox.ini
Due: prettier

Modernize lektor.quickstart
  lektor/quickstart.py
  tests/conftest.py
  tests/test_quickstart.py
Due: none

Setuptools_scm automatically includes all files committed to git
  MANIFEST.in
  pyproject.toml
  tox.ini
Due: none

frontend: npm update
  lektor/admin/package-lock.json
  lektor/admin/package.json
Due: none

builder: fix comparison to sqlite version
  lektor/builder.py
Due: none

removed isnot() operator
  lektor/db.py
  tests/test_db.py
Due: none

Exclude `example` subdirectory from sdist
  MANIFEST.in
Due: none

Clean up MANIFEST.in (#986)
  MANIFEST.in
Due: none

Update CHANGES.
  CHANGES.md
Due: prettier

Fix typo
  lektor/databags.py
Due: none

Using pytest.warns(None) is deprecated as of pytest 7.0.0.
  tests/test_publisher.py
Due: none

Skip rsync integration tests if rsync is not installed
  tests/test_publisher.py
Due: none

RsyncPublisher: use --delete-after rather than --delete-delay
  lektor/publisher.py
  tests/test_deploy.py
Due: none

Test that local rsync publishing works (with and w/o delete option)
  tests/test_publisher.py
Due: none

"lazier" evaluation of sequence expressions
  lektor/db.py
Due: none

Simpilfy _SeqExpr
  lektor/db.py
Due: none

Release 3.3.2
  CHANGES.md
Due: prettier

Delete unused function lektor.db._is_content_file
  lektor/db.py
Due: none

Delete unused lektor.utils.{WorkerPool,Worker,safe_call}
  lektor/utils.py
Due: none

Delete unused lektor.utils.get_app_dir
  lektor/utils.py
Due: none

Delete unused lektor.utils.get_structure_hash, lektor.db.Query.__get_lektor_param_hash__
  lektor/db.py
  lektor/utils.py
Due: none

Note use of lektor.utils.build_url by various plugins
  lektor/utils.py
Due: none
