Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0

prettier:
  name: prettier
  language: node
  entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different

refactor(watcher): use a BoundedSemaphore rather than Event
  lektor/watcher.py
  tests/test_watcher.py
Due: none

refactor(watcher): remove unused params from is_interesting
  lektor/watcher.py
  tests/test_watcher.py
Due: none

refactor(watcher): skip is_interesting check if event already set
  lektor/watcher.py
Due: none

refactor(watcher): replace Queue with flag (threading.Event)
  lektor/cli.py
  lektor/devserver.py
  lektor/watcher.py
  tests/test_watcher.py
Due: none

refactor(watcher): delete lektor.watcher.watch
  lektor/watcher.py
  tests/test_watcher.py
Due: none

refactor(tests): speed up test_images.py
  tests/conftest.py
  tests/test_images.py
Due: none

Refactor(watcher): replace Queue with Semaphore (#1118)
  lektor/cli.py
  lektor/devserver.py
  lektor/watcher.py
  tests/test_watcher.py
Due: none

chore: update CHANGES.md
  CHANGES.md
Due: prettier

backport(#1061): disuse pkg_resources in favor of importlib.metadata
  lektor/cli.py
  lektor/compat.py
  lektor/packages.py
  lektor/pluginsystem.py
  setup.cfg
  tests/conftest.py
  tests/test_pluginsystem.py
Due: none

Clean up handling of plugin distribution metadata.
  lektor/pluginsystem.py
  tests/test_pluginsystem.py
Due: none

Don't need importlib_metadata for python >= 3.8
  lektor/compat.py
  lektor/pluginsystem.py
  setup.cfg
Due: none

backport(#1065): an alternative fix for installing local plugins.
  lektor/packages.py
  lektor/pluginsystem.py
  lektor/project.py
  setup.cfg
  tests/setup_py-dummy-plugin/lektor_dummy_plugin.py
  tests/setup_py-dummy-plugin/setup.py
  tests/test_packages.py
  tox.ini
Due: none

fix(packaging): pip is no longer a direct dependency of Lektor
  setup.cfg
Due: none

test: add test for lektor.packages.install_local_package
  tests/setup_py-dummy-plugin/lektor_dummy_plugin.py
  tests/setup_py-dummy-plugin/setup.py
  tests/test_packages.py
Due: none

fix(packages): fix local plugin installation
  lektor/packages.py
  setup.cfg
Due: none

Fix local plugin installation (#1129)
  CHANGES.md
  lektor/packages.py
  setup.cfg
  tests/setup_py-dummy-plugin/lektor_dummy_plugin.py
  tests/setup_py-dummy-plugin/setup.py
  tests/test_packages.py
Due: prettier

Release 3.3.9
  CHANGES.md
Due: prettier

frontend: npm update
  frontend/js/context/page-context.ts
  frontend/package-lock.json
Due: eslint, prettier

frontend: upgrade react-router and modernise
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/main.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

frontend: upgrade jsdom,esbuild,typscript
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

test(tox): run pytest with --durations=20
  tox.ini
Due: none

test: do not run certain slow tests in every testenv variant
  pyproject.toml
  tests/test_build_frontend.py
  tests/test_imports.py
  tests/test_packages.py
  tests/test_pluginsystem.py
  tox.ini
Due: none

fix(tests): increase settle wait time when starting watcher on macOS
  tests/test_watcher.py
Due: none

ci: pin coverage<7.0.2 on macOS
  tox.ini
Due: none

ci: pin coverage<7.0.2 on macOS (#1132)
  tox.ini
Due: none

Customizeable hotkeys
  frontend/js/components/AdminLinkWithHotkey.tsx
  frontend/js/components/DialogSlot.tsx
  frontend/js/context/appsettings-context.ts
  frontend/js/dialogs/Preferences.tsx
  frontend/js/error-dialog.ts
  frontend/js/events.ts
  frontend/js/header/GlobalActions.tsx
  frontend/js/shortcut-keys.ts
  frontend/js/sidebar/PageActions.tsx
  frontend/js/utils.ts
  frontend/js/views/App.tsx
  frontend/js/views/edit/EditPage.tsx
  lektor/translations/en.json
Due: eslint, prettier

fix: be more careful about what we accept as a "hotkey"
  frontend/js/dialogs/Preferences.tsx
  frontend/js/shortcut-keys.ts
Due: eslint, prettier

fix(frontend): avoid triggering "unsaved" dialog from shortcuts
  frontend/js/views/App.tsx
  frontend/js/views/edit/EditPage.tsx
Due: eslint, prettier

test(optimization): use module-scoped fixture for pad in test_urls.py
  tests/test_urls.py
Due: none

test: tests for relative db-path resolution from virtual sources bug
  tests/test_urls.py
Due: none

refactor: parametrize test_utils.py::test_join_path
  tests/test_utils.py
Due: none

fix: url resolution of absolute db urls from virtual sources
  lektor/utils.py
Due: none

test: relative db-path resolution from virtual sources bugs
  tests/test_urls.py
  tests/test_utils.py
Due: none

fix: relative url resolution from pages with "." in their slugs
  lektor/assets.py
  lektor/db.py
  lektor/sourceobj.py
  tests/test_urls.py
Due: none

fix: do not override user-specified warnings filter
  lektor/cli.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
