Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix --max-warnings 0

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

db: traverse hidden pages when resolving URLs
  lektor/db.py
Due: none

builder: prune artifacts whose sources are hidden
  lektor/build_programs.py
  lektor/builder.py
Due: none

admin server: display more descriptive 404 message for hidden pages
  lektor/admin/modules/serve.py
Due: none

builder: build hidden records
  lektor/build_programs.py
Due: none

CSS-based solution to autosize textarea
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/scss/forms.scss
Due: eslint, prettier

CSS-based solution to autosize textarea
  CHANGES.md
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/scss/forms.scss
Due: eslint, prettier

Release 3.3.6
  CHANGES.md
Due: prettier

Make the output of the GH Pages publisher a bit more verbose
  lektor/publisher.py
  tests/test_publisher.py
Due: none

Better warning about default branch name for GH Pages repos.
  lektor/publisher.py
  tests/test_publisher.py
Due: none

Enhance checkbox for tri-state
  frontend/js/widgets/BooleanInputWidget.tsx
  frontend/scss/forms.scss
  lektor/translations/en.json
Due: eslint, prettier

Allow manual textarea resizing via drag-handle
  frontend/js/widgets/MultiLineTextInputWidget.tsx
  frontend/scss/forms.scss
  lektor/translations/en.json
Due: eslint, prettier

Listen for `keydown` rather than `keypress`.
  frontend/js/widgets/BooleanInputWidget.tsx
Due: eslint, prettier

Styling of indeterminate checkboxes depends on default value
  frontend/js/widgets/BooleanInputWidget.tsx
  frontend/scss/forms.scss
Due: eslint, prettier

Disable implicit thumbnail upscaling (#930)
  lektor/imagetools.py
  tests/test_images.py
Due: none

Remote deprecated `crop` argument from `Image.thumbnail()` (#930)
  lektor/db.py
Due: none

Remove deprecated thumbnailing features (#960)
  lektor/db.py
  lektor/imagetools.py
  tests/test_images.py
Due: none

Update CHANGES
  CHANGES.md
Due: prettier

Flesh out the set of project URLs
  setup.cfg
Due: none

Run `npm upgrade`, fix resultant CSS breakage
  frontend/package-lock.json
  frontend/scss/bootstrap-overrides.scss
Due: none

Make a 3.4 pre-release
  CHANGES.md
Due: prettier

Tests for various URL paths which should or should not be resolvable
  tests/test_db.py
Due: none

Unit tests for cleanup_url_path
  tests/test_urls.py
Due: none

Fix Pad.resolve_url_path so that it ignores any query or fragment in URL path
  lektor/db.py
  lektor/utils.py
Due: none

Change/fix handling of '..' in lektor.utils.cleanup_path
  lektor/utils.py
  tests/test_urls.py
  tests/test_utils.py
Due: none

Adding an install extra for "dev" dependencies to include development helpers and test deps.
  README.md
  setup.cfg
Due: prettier

Fix `lektor clean` subcommand
  CHANGES.md
  lektor/builder.py
  tests/test_builder.py
Due: prettier

Pin typing.inspect<0.8.0 to avoid breakage of marshmallow_dataclass
  CHANGES.md
  setup.cfg
Due: prettier

Release 3.4.0b2
  CHANGES.md
Due: prettier

Fix spelling of `typing-inspect` in dependencies
  CHANGES.md
  setup.cfg
Due: prettier

Disuse pkg_resources in favor of importlib.metadata
  lektor/cli.py
  lektor/compat.py
  lektor/markdown/__init__.py
  lektor/packages.py
  lektor/pluginsystem.py
  setup.cfg
  tests/conftest.py
  tests/test_pluginsystem.py
Due: none

Remove the deprecated --build-flag option
  lektor/cli.py
  lektor/cli_utils.py
  tests/test_cli.py
Due: none

npm update
  frontend/package-lock.json
Due: none

upgrade react
  frontend/js/main.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

upgrade dev deps
  frontend/package-lock.json
  frontend/package.json
Due: none

upgrade react-router
  frontend/js/components/AdminLink.tsx
  frontend/js/components/AdminLinkWithHotkey.tsx
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/main.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

run pyupgrade
  lektor/admin/modules/api.py
  lektor/admin/modules/serve.py
  lektor/assets.py
  lektor/builder.py
  lektor/buildfailures.py
  lektor/cli.py
  lektor/databags.py
  lektor/datamodel.py
  lektor/db.py
  lektor/devcli.py
  lektor/editor.py
  lektor/environment/config.py
  lektor/exception.py
  lektor/filecontents.py
  lektor/i18n.py
  lektor/imagetools.py
  lektor/metaformat.py
  lektor/packages.py
  lektor/publisher.py
  lektor/quickstart.py
  lektor/reporter.py
  lektor/types/base.py
  lektor/types/flow.py
  lektor/utils.py
  lektor/videotools.py
  lektor/watcher.py
  tests/admin/test_serve.py
  tests/test_assets.py
  tests/test_datamodel.py
  tests/test_db.py
  tests/test_devcli.py
  tests/test_editor.py
  tests/test_images.py
  tests/test_prev_next_sibling.py
  tests/test_utils.py
Due: none

pre-commit: add pyupgrade
  .pre-commit-config.yaml
Due: prettier

ci: use generic lts/* and current specifiers
  .github/workflows/ci.yml
Due: prettier

ci: upgrade github actions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
