Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        require_serial: true
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin/prettier.cjs --write --list-different
        require_serial: true
        files: \.(ts|tsx|js|less|ya?ml|md)$

style: address flake8-implicit-str-concat rule suggestions
  lektor/cli.py
  lektor/cli_utils.py
  tests/test_devcli.py
  tests/test_types.py
Due: none

style: enable ruff's FLY rules
  pyproject.toml
Due: none

style: address FLY rule suggestion
  lektor/imagetools/exif.py
Due: none

style: enable ruff's FURB rules
  pyproject.toml
Due: none

style: address FURB rule suggestions
  tests/test_cli.py
  tests/test_cli_utils.py
  tests/test_datamodel.py
Due: none

style: enable ruff's perflint rules
  pyproject.toml
Due: none

style: enable some ruff rules that we already pass
  pyproject.toml
Due: none

style: enable most of ruff's pylint rules
  pyproject.toml
Due: none

style: address issues surfaced by ruff's perflint rules
  lektor/admin/modules/api.py
  lektor/datamodel.py
  lektor/db.py
  lektor/editor.py
  lektor/imagetools/exif.py
  lektor/publisher.py
Due: none

🧪 Introduce a unified gate/check GHA job
  .github/workflows/ci-cd.yml
Due: prettier

🧪💅 Unify running linters via pre-commit
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  tox.ini
Due: prettier

frontend: npm update
  frontend/package-lock.json
Due: none

frontend: upgrade @types/node, jsdom
  frontend/package-lock.json
  frontend/package.json
Due: none

frontend: fix lint error in build script
  frontend/build.ts
Due: eslint, prettier

frontend: upgrade react-router
  frontend/package-lock.json
  frontend/package.json
Due: none

frontend: ignore sass warnings from Bootstrap
  frontend/build.ts
Due: eslint, prettier

frontend: upgrade esbuild
  frontend/package-lock.json
  frontend/package.json
Due: none

frontend: upgrade eslint and address lint warnings
  .pre-commit-config.yaml
  frontend/.eslintrc.js
  frontend/eslint.config.mjs
  frontend/js/components/use-changed-flag.ts
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/utils.ts
  frontend/js/views/PreviewPage.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/components/icon.ts
  frontend/tsconfig.json
Due: eslint, prettier

update frontend dependencies (#1212)
  .pre-commit-config.yaml
  frontend/.eslintrc.js
  frontend/build.ts
  frontend/eslint.config.mjs
  frontend/js/components/use-changed-flag.ts
  frontend/js/components/use-go-to-admin-page.ts
  frontend/js/utils.ts
  frontend/js/views/PreviewPage.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tooldrawer/components/icon.ts
  frontend/tsconfig.json
Due: eslint, prettier

tests: add test for access mode of created artifacts
  tests/test_builder.py
Due: none

fix(tests): umask unsupported on Windows
  tests/test_utils.py
Due: none

fix: fix created file modes (respecting umask)
  lektor/builder.py
  lektor/utils.py
  tests/test_utils.py
Due: none

docs: update docstrings
  lektor/utils.py
Due: none

tests: update to pylint 3.3.2
  tox.ini
Due: none

Update to pylint 3.3 (#1208)
  lektor/builder.py
  lektor/cli.py
  lektor/datamodel.py
  lektor/devserver.py
  lektor/editor.py
  lektor/imagetools/thumbnail.py
  lektor/publisher.py
  lektor/sourceobj.py
  lektor/videotools.py
  pyproject.toml
  tox.ini
Due: none

Fix file mode of created files (#1214)
  lektor/builder.py
  lektor/utils.py
  tests/test_builder.py
  tests/test_utils.py
Due: none

Update LICENSE, fix license year
  LICENSE
Due: none

refactor(repo): Use uv for github actions
  .github/workflows/ci-cd.yml
  lektor/markdown/__init__.py
  lektor/markdown/mistune0.py
  pyproject.toml
  tox.ini
Due: prettier

feat(repo): add tests for oldest versions
  .github/workflows/ci-cd.yml
Due: prettier

fix(test): fix tests for older python versions
  lektor/markdown/__init__.py
  pyproject.toml
Due: none

test(tox): simplify config
  tox.ini
Due: none

test(github): less verbose github output
  .github/workflows/ci-cd.yml
Due: prettier

fix(setup): add missing test dependency
  pyproject.toml
Due: none

fix(test): trying to get github actions and tox running
  .editorconfig
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: prettier

fix(test): fix noutils configuration for tests
  tox.ini
Due: none

feat(ci): test for vulnerabilities
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: prettier

fix(test): fix windows tests
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: prettier

fix(test): windows and python 3.13 need newer cffi
  pyproject.toml
Due: none

Make attachments use title in sidebar
  frontend/js/components/types.ts
  frontend/js/sidebar/AttachmentActions.tsx
  lektor/admin/modules/api.py
Due: eslint, prettier
