Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: "22.3.0"
    hooks:
      - id: black
  - repo: https://github.com/asottile/reorder_python_imports
    rev: "v2.6.0"
    hooks:
      - id: reorder-python-imports
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.2"
    hooks:
      - id: flake8
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.25.0
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --fix --max-warnings 0
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: node
        entry: ./frontend/node_modules/prettier/bin-prettier.js --write --list-different
        files: \.(ts|tsx|js|less|ya?ml|md)$

Fix quoting in hatch script for Windows
  pyproject.toml
Due: none

Work on running tests via hatch
  pyproject.toml
Due: none

Update deploy workflow to use hatch
  .github/workflows/publish.yml
Due: prettier

Fix #1085
  lektor/pluginsystem.py
  tests/test_pluginsystem.py
Due: none

Be more careful about handling TypeError from plugin hook method calls (#1086)
  lektor/pluginsystem.py
  tests/test_pluginsystem.py
Due: none

CI: disuse deprecated pre-commit/action
  .github/workflows/ci.yml
Due: prettier

Be more careful about handling TypeError from plugin hooks (backport #1086)
  CHANGES.md
  lektor/pluginsystem.py
  tests/test_pluginsystem.py
Due: prettier

Update CHANGES
  CHANGES.md
Due: prettier

Freshen GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

Release 3.4.0b4
  CHANGES.md
Due: prettier

fix: order_by respecting alt
  lektor/db.py
Due: none

fix: use keyword param for alt
  lektor/db.py
Due: none

fix: add missing alt to Attachment.parent()
  lektor/db.py
Due: none

pre-commit: fix flake8 and update
  .pre-commit-config.yaml
Due: prettier

frontend: update deps
  frontend/package-lock.json
  frontend/package.json
Due: none

pylint: update and avoid implicit string concatenations
  lektor/cli.py
  lektor/context.py
  lektor/db.py
  lektor/devcli.py
  lektor/editor.py
  lektor/packages.py
  lektor/utils.py
  pyproject.toml
  tests/test_db.py
  tox.ini
Due: none

add save-and-preview-button
  frontend/js/components/AdminLinkWithHotkey.tsx
  frontend/js/sidebar/PageActions.tsx
  frontend/js/views/edit/EditPage.tsx
  frontend/js/views/edit/EditPageActions.tsx
  lektor/translations/en.json
Due: eslint, prettier

use useLektorEvent
  frontend/js/components/DialogSlot.tsx
  frontend/js/components/ErrorDialog.tsx
  frontend/js/events.ts
  frontend/js/sidebar/Sidebar.tsx
Due: eslint, prettier

notifications component
  frontend/js/events.ts
  frontend/js/views/App.tsx
  frontend/js/views/Notifications.css
  frontend/js/views/Notifications.tsx
  frontend/scss/bootstrap-overrides.scss
Due: eslint, prettier

Add server `--browse-subpage` cli arg
  lektor/cli.py
  lektor/devserver.py
Due: none

add a small test
  tests/test_cli.py
Due: none

better conditional check
  lektor/devserver.py
Due: none

Add webp as image format in default config
  lektor/environment/config.py
Due: none

fix(tox): fix py311-noutils environment for tox 4
  tox.ini
Due: none

test(tox): add -ra to default pytest options
  tox.ini
Due: none

test(tox): disuse pytest-cov
  pyproject.toml
  tox.ini
Due: none

fix(test): don't drop temporary test files into source tree
  lektor/admin/webui.py
  tests/admin/test_webui.py
Due: none

refactor(markdown): allow rendering markdown without a current record
  lektor/markdown/__init__.py
  lektor/markdown/controller.py
  tests/test_markdown.py
Due: none

fix: markdown jinja filter (broken in PR #992)
  lektor/environment/__init__.py
  tests/test_environment.py
Due: none

fix(ci): fix py36 job
  .github/workflows/ci.yml
  tox.ini
Due: prettier

test(tox): require tox>=4.1
  tox.ini
Due: none

test(images): enable test for refusal to upscale thumbnail
  tests/demo-project/templates/page.html
  tests/test_images.py
Due: none

refactor(decruft): delete configuration of unused LESSC_EXECUTABLE
  lektor/environment/config.py
Due: none

Fix template global markdown filter (#1102)
  lektor/environment/__init__.py
  lektor/markdown/__init__.py
  lektor/markdown/controller.py
  tests/test_environment.py
  tests/test_markdown.py
Due: none
