Repository lektor/lektor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: ./lektor/admin/node_modules/eslint/bin/eslint.js --fix

prettier:
  name: prettier
  language: node
  entry: ./lektor/admin/node_modules/prettier/bin-prettier.js --write --list-different

Increase timeout in `IterateInThread` test helper
  CHANGES.md
  tests/test_watcher.py
Due: prettier

Update CHANGES
  CHANGES.md
Due: prettier

Copy test project to temporary dir to allow parallel test runs
  CHANGES.md
  tests/test_prev_next_sibling.py
Due: prettier

Test to excercise #962
  tests/test_api.py
Due: none

Possible fix for #962
  lektor/admin/modules/api.py
Due: none

Add better tests for EditorSession mapping operations
  tests/test_editor.py
Due: none

Refactor lektor.editor
  lektor/editor.py
Due: none

Fix bugs in EditorSession chained mapping implementation
  lektor/editor.py
Due: none

WIP: create docker image
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Due: prettier

Test that modules can be imported in any order
  tests/test_imports.py
Due: none

Fix import cycle when lektor.types is imported before lektor.environment
  lektor/environment/__init__.py
Due: none

Move EditorSession data handling into it's own class
  lektor/admin/modules/api.py
  lektor/editor.py
  tests/test_editor.py
Due: none

Standardize LICENSE
  LICENSE
Due: none

Unit tests for lektor.editor.make_editor_session
  tests/test_editor.py
Due: none

Fix existing page determination logic
  lektor/editor.py
Due: none

Add xfail test for bug to be fixed
  tests/test_editor.py
Due: none

Support newer mistune versions in addition to older ones
  lektor/markdown.py
  setup.cfg
Due: none

Re-introduce lower bound for mistune version
  setup.cfg
Due: none

Fix linter errors due to supporting multiple mistune versions
  lektor/markdown.py
Due: none

Address maintainability concerns per review
  lektor/markdown.py
Due: none

tox: Use per-testenv coverage files to support concurrent test runs
  .gitignore
  tox.ini
Due: none

tox: optimization: we do not need to install lektor to build dist
  tox.ini
Due: none

Publish: rewrite with hooks
  lektor/admin/static/js/components/DialogSlot.tsx
  lektor/admin/static/js/dialogs/Publish.tsx
Due: eslint, prettier

rewrite Sidebar with hooks
  lektor/admin/static/js/sidebar/Alternatives.tsx
  lektor/admin/static/js/sidebar/Sidebar.tsx
Due: eslint, prettier

DeletePage: rewrite with hooks
  lektor/admin/static/js/views/delete/DeletableAlternatives.tsx
  lektor/admin/static/js/views/delete/DeletableAttachments.tsx
  lektor/admin/static/js/views/delete/DeletableChildPages.tsx
  lektor/admin/static/js/views/delete/DeleteAllAltsChoice.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/delete/DeletePageActions.tsx
  lektor/admin/static/js/views/delete/DeletePageHeader.tsx
Due: eslint, prettier

ServerStatus: rewrite with hooks
  lektor/admin/static/js/components/ServerStatus.tsx
Due: eslint, prettier

AddChildPage: rewrite with hooks
  lektor/admin/static/js/views/add-child-page/AddChildPage.tsx
Due: eslint, prettier

AddAttachmentsPage: rewrite with hooks
  lektor/admin/static/js/views/AddAttachmentPage.tsx
Due: eslint, prettier

PreviewPage: rewrite with hooks
  lektor/admin/static/js/views/PreviewPage.tsx
Due: eslint, prettier

FindFiles: rewrite with hooks
  lektor/admin/static/js/dialogs/find-files/FindFiles.tsx
Due: eslint, prettier

BooleanInputWidget: rewrite with hooks
  lektor/admin/static/js/widgets/BooleanInputWidget.tsx
Due: eslint, prettier

flow: split up into components, better memoization, use hooks
  lektor/admin/static/js/views/add-child-page/PrimaryFieldRow.tsx
  lektor/admin/static/js/views/add-child-page/Slug.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
  lektor/admin/static/js/widgets.tsx
  lektor/admin/static/js/widgets/FlowWidget.tsx
  lektor/admin/static/js/widgets/flow/AddFlowBlockButtons.tsx
  lektor/admin/static/js/widgets/flow/FlowBlock.tsx
  lektor/admin/static/js/widgets/flow/FlowWidget.test.ts
  lektor/admin/static/js/widgets/flow/FlowWidget.tsx
  lektor/admin/static/js/widgets/flow/metaformat.test.ts
  lektor/admin/static/js/widgets/flow/metaformat.tsx
  lektor/admin/static/js/widgets/types.ts
Due: eslint, prettier

BreadCrumbs: rewrite with hooks
  lektor/admin/static/js/header/BreadCrumbs.tsx
Due: eslint, prettier

EditPage: rewrite with hooks
  lektor/admin/static/js/main.tsx
  lektor/admin/static/js/views/delete/DeletePage.tsx
  lektor/admin/static/js/views/edit/EditPage.tsx
Due: eslint, prettier

CheckBoxesWidget: rewrite with hooks; move serialisation inside
  lektor/admin/static/js/widgets/CheckboxesInputWidget.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|less|ya?ml|md)$
